{% load static %}
<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      
      <div class="footer__contacts">
        <div class="footer__contact">
          <p class="footer__contact-title footer__contact-title-map">Адрес</p>
          <p class="footer__contact-text">
            Ставропольский край,<br />
            г. Ставрополь,<br />
            просп. Кулакова, 2
          </p>
        </div>
        <div class="footer__contact">
          <p class="footer__contact-title footer__contact-title-mail">
            электронная почта
          </p>
          <a  class="footer__mail-link"
            >snadny.semen@yandex.ru</a
          >
        </div>
        <div class="footer__contact">
          <p class="footer__contact-title footer__contact-title-phone">
            телефон
          </p>
          <a class="footer__phone-link"
            >+ 7 (962) 413-75-96</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>