{% load static %}
{% load goods_tags %}
{% load mptt_tags %}
{% load carts_tags %}

<header class="header">
  <div class="container">
    <div class="header__inner">

      <!-- Nav -->
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__list-item">
            <a href="{% url "main:index" %}" class="menu__list-link">ГЛАВНАЯ</a>
          </li>
          
          <li class="menu__list-item menu__list-item_drop" >
            <a href="{% url "catalog:index" %}" class="menu__list-link menu__list-item-drop-link">АВТОЗАПЧАСТИ</a>
            <ul class="menu__sublist">
              
              {% tag_categories_kombi as categories %}
              {% recursetree categories %}
              <li class="menu__list-item menu__sublist-item">
                <a href="{% url "catalog:index" node.slug %}" class="menu__list-link menu__list-link-kombi"
                  >{{ node.name }}</a
                >
              </li>
              {% endrecursetree %}

            </ul>
          </li>


          {% if not user.is_authenticated %}
            <li class="menu__list-item">
              <a href="{% url "user:login" %}" class="menu__list-link"
                >Войти</a
              >
            </li>
          {% else %}
            <li class="menu__list-item menu__list-item_drop">
              <a href="{% url "user:profile" %}" class="menu__list-link menu__list-item-drop-link">ПРОФИЛЬ</a>
              <ul class="menu__sublist">
                <li class="menu__list-item menu__sublist-item">
                  <a href="{% url "user:profile" %}" class="menu__list-link"
                    >Личный кабинет</a
                  >
                </li>
                <li class="menu__list-item menu__sublist-item">
                  <a href="{% url "user:users_cart" %}" class="menu__list-link"
                    >Корзина</a
                  >
                </li>
                <li class="menu__list-item menu__sublist-item">
                  <a href="{% url "user:logout" %}" class="menu__list-link"
                    >Выйти</a
                  >
                </li>
      
                {% if user.is_admin or user.is_staff %}
                <li class="menu__list-item menu__sublist-item">
                  <a href="{% url "admin:index" %}" class="menu__list-link"
                    >Админ</a
                  >
                </li>
                {% endif %}
              </ul>
            </li>
          {% endif %}

          <li class="header__links">
            {% user_carts request as carts %}
            <div class="catalog__cart">
              <button type="button" class="menu__cart-btn cart_popup__open" id="modalButton"
                  aria-expanded="false">
                  <img class="catalog__cart-img" src="{% static 'images/catalog-cart.svg' %}" alt="Корзина">
                  <span class="catalog__cart-count" id="goods-in-cart-count">{{ carts.total_quantity }}</span>
              </button>
            </div>
          </li>

        </ul>
      </nav>

      

      <!-- Hamburger menu button -->
      <button class="menu__btn">
        <span></span>
        <span></span>
        <span></span>
      </button>

    </div>
  </div>
</header>